nav {
  background-color: #1b180d; 
  padding: 10px 20px;
  position: fixed;
  width: 100%; 
  top: 0; 
  right: 0; 
  z-index: 1000; 
}

nav ul {
  list-style: none;
  display: flex; 
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none; 
  font-size: 1.2em; 
  transition: color 0.3s; 
}

nav ul li a:hover {
  color: #333; 
}
.HomepageTopSection img{
  height: 50vh;
  width: 100vh;
}
.ProductCarousel {
  height: 40%;
  width: 30%;
  border:2px #1b180d;
}
